<div class="col-sm-2" id="@PanelsHelper.GetAvailabilityPanelName(Services.ACI)">
     <div class="panel panel-ACI">
        <div class="panel-heading">
            <h3 class="panel-title">@Services.ACI.GetDisplayName()</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
</div>