<div class="col-sm-3 col-md-2" id="@PanelsHelper.GetDevOpsPanelName(Services.ACI)">
     <div class="panel panel-ACI">
        <div class="panel-heading">
            <h3 class="panel-title">@Services.ACI.GetDisplayName()</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>N/A</li>
                <li class="separator">&nbsp;</li>
                <li>Local debug in Docker</li>
                <li class="separator">&nbsp;</li>
                <li>Development environment to be manually setup (1+ nodes)</li>
                <li class="separator">&nbsp;</li>
                <li>N/A</li>
                <li class="separator">&nbsp;</li>
                <li>N/A</li>
                <li class="separator">&nbsp;</li>
                <li>Any language, any framework</li>
                <li class="separator">&nbsp;</li>
                <li>Applications are portable</li>
                <li class="separator">&nbsp;</li>
                <li>Docker to be installed on-prem manually</li>
                <li class="separator">&nbsp;</li>
                <li>N/A</li>
                <li class="separator">&nbsp;</li>
                <li>CLI, PowerShell (limited), Web (limited)</li>
            </ul>
        </div>
    </div>
</div>