<div class="col-sm-3 col-md-2" id="@PanelsHelper.GetHostingPanelName(Services.ACI)">
     <div class="panel panel-ACI">
        <div class="panel-heading">
            <h3 class="panel-title">@Services.ACI.GetDisplayName()</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>Containers (Docker, OCI, CNCF)</li>
                <li class="separator">&nbsp;</li>
                <li>N/A</li>
                <li class="separator">&nbsp;</li>
                <li>Serverless</li>
                <li class="separator">&nbsp;</li>
                <li>Linux, Windows</li>
                <li class="separator">&nbsp;</li>
                <li>Stateless (native) and Stateful (custom)</li>
                <li class="separator">&nbsp;</li>
                <li>Serverless</li>
            </ul>
        </div>
    </div>
</div>