<div class="col-sm-3 col-md-2" id="@PanelsHelper.GetSecurityPanelName(Services.ACI)">
     <div class="panel panel-ACI">
        <div class="panel-heading">
            <h3 class="panel-title">@Services.ACI.GetDisplayName()</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>N/A</li>
                <li class="separator">&nbsp;</li>
                <li>RBAC supported</li>
                <li class="separator">&nbsp;</li>
                <li>OS updated automatically (Serverless)</li>
            </ul>
        </div>
    </div>
</div>