<div class="col-sm-3 col-md-2" id="@PanelsHelper.GetCostSupportPanelName(Services.ServiceFabric)">
    <div class="panel panel-ServiceFabric">
        <div class="panel-heading">
            <h3 class="panel-title">@Services.ServiceFabric.GetDisplayName()</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>Cost only for resources used (no other licenses)</li>
                <li class="separator">&nbsp;</li>
                <li>On-prem installation is free</li>
                <li class="separator">&nbsp;</li>
                <li>Support directly from Microsoft</li>
                <li class="separator">&nbsp;</li>
            </ul>
        </div>
    </div>
</div>