<div class="col-sm-2" id="@PanelsHelper.GetDevOpsPanelName(Services.ServiceFabric)">
    <div class="panel panel-ServiceFabric">
        <div class="panel-heading">
            <h3 class="panel-title">@Services.ServiceFabric.GetDisplayName()</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>Native Visual Studio integration (full support)</li>
                <li>Local debug fully supported</li>
                <li>Development cluster (1 or 5 nodes) with 100% same features</li>
                <li>App Updates with Rolling updates (prod), Refresh (dev)</li>
                <li>Native CI/CD support</li>
                <li>Any language, any framework</li>
                <li>Applications are portable</li>
                <li>Can be installed on-prem with automatic installation (100% compatible)</li>
                <li>No orchestrator to manage</li>
                <li>Management via Web, CLI, PowerShell, APIs</li>
            </ul>
        </div>
    </div>
</div>