<div class="col-sm-3 col-md-2" id="@PanelsHelper.GetHostingPanelName(Services.ServiceFabric)">
    <div class="panel panel-ServiceFabric">
        <div class="panel-heading">
            <h3 class="panel-title">@Services.ServiceFabric.GetDisplayName()</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>Microservices, Guest execs, Containers (Docker)</li>
                <li class="separator">&nbsp;</li>
                <li>Service Fabric</li>
                <li class="separator">&nbsp;</li>
                <li>Minimum 5 worker nodes, no control plan nodes</li>
                <li class="separator">&nbsp;</li>
                <li>Linux, Windows</li>
                <li class="separator">&nbsp;</li>
                <li>Stateless and Stateful (native)</li>
                <li class="separator">&nbsp;</li>
                <li>No infrastructure to manage</li>
            </ul>
        </div>
    </div>
</div>