<div class="col-sm-2" id="@PanelsHelper.GetSecurityPanelName(Services.ServiceFabric)">
    <div class="panel panel-ServiceFabric">
        <div class="panel-heading">
            <h3 class="panel-title">@Services.ServiceFabric.GetDisplayName()</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
</div>