/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    width: 100% !important;
}

/* Header */
header {
    margin-left: -15px;
    margin-right: -15px;
    color: white;
}

    header img {
        margin-left: 15px;
    }

    header h1 {
        margin-left: 15px;
    }

/* loadingImage */
.loadingImage{

}

/*Lists*/
ul {
    padding-left: 10px;
}

/* Checkbox */
input[type=checkbox].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

    input[type=checkbox].css-checkbox + label.css-label {
        padding-left: 30px;
        height: 25px;
        display: inline-block;
        line-height: 25px;
        background-repeat: no-repeat;
        background-position: 0 0;
        font-size: 12px;
        vertical-align: middle;
        cursor: pointer;
    }

    input[type=checkbox].css-checkbox:checked + label.css-label {
        background-position: 0 -25px;
    }

label.css-label {
    background-image: url('../images/csscheckbox.png');
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 20px;
}

label[disabled] {
    cursor: not-allowed !important;
}

/* Panels*/
.panel-ACI {
    border-color: #ddd;
}

    .panel-ACI > .panel-heading {
        color: #333;
        background-color: #f5f5f5;
        border-color: #ddd;
    }

        .panel-ACI > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #ddd;
        }

        .panel-ACI > .panel-heading .badge {
            color: #f5f5f5;
            background-color: #333;
        }

    .panel-ACI > .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: #ddd;
    }

.panel-AKS {
    border-color: #337ab7;
}

    .panel-AKS > .panel-heading {
        color: #fff;
        background-color: #337ab7;
        border-color: #337ab7;
    }

        .panel-AKS > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #337ab7;
        }

        .panel-AKS > .panel-heading .badge {
            color: #337ab7;
            background-color: #fff;
        }

    .panel-AKS > .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: #337ab7;
    }

.panel-AppService {
    border-color: #d6e9c6;
}

    .panel-AppService > .panel-heading {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }

        .panel-AppService > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #d6e9c6;
        }

        .panel-AppService > .panel-heading .badge {
            color: #dff0d8;
            background-color: #3c763d;
        }

    .panel-AppService > .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: #d6e9c6;
    }

.panel-CloudFoundry {
    border-color: #bce8f1;
}

    .panel-CloudFoundry > .panel-heading {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }

        .panel-CloudFoundry > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #bce8f1;
        }

        .panel-CloudFoundry > .panel-heading .badge {
            color: #d9edf7;
            background-color: #31708f;
        }

    .panel-CloudFoundry > .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: #bce8f1;
    }

.panel-OpenShift {
    border-color: #faebcc;
}

    .panel-OpenShift > .panel-heading {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }

        .panel-OpenShift > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #faebcc;
        }

        .panel-OpenShift > .panel-heading .badge {
            color: #fcf8e3;
            background-color: #8a6d3b;
        }

    .panel-OpenShift > .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: #faebcc;
    }

.panel-ServiceFabric {
    border-color: #ebccd1;
}

    .panel-ServiceFabric > .panel-heading {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }

        .panel-ServiceFabric > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #ebccd1;
        }

        .panel-ServiceFabric > .panel-heading .badge {
            color: #f2dede;
            background-color: #a94442;
        }

    .panel-ServiceFabric > .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: #ebccd1;
    }
