<div class="col-sm-3 col-md-2" id="@PanelsHelper.GetDevOpsPanelName(Services.OpenShift)">
    <div class="panel panel-OpenShift">
        <div class="panel-heading">
            <h3 class="panel-title">@Services.OpenShift.GetDisplayName()</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>XXX</li>
                <li class="separator">&nbsp;</li>
                <li>XXX</li>
                <li class="separator">&nbsp;</li>
                <li>XXX</li>
                <li class="separator">&nbsp;</li>
                <li>XXX</li>
                <li class="separator">&nbsp;</li>
                <li>XXX</li>
                <li class="separator">&nbsp;</li>
                <li>XXX</li>
                <li class="separator">&nbsp;</li>
                <li>XXX</li>
                <li class="separator">&nbsp;</li>
                <li>XXX</li>
                <li class="separator">&nbsp;</li>
                <li>XXX</li>
                <li class="separator">&nbsp;</li>
                <li>XXX</li>
            </ul>
        </div>
    </div>
</div>