<div class="col-sm-2" id="@PanelsHelper.GetHostingPanelName(Services.OpenShift)">
    <div class="panel panel-OpenShift">
        <div class="panel-heading">
            <h3 class="panel-title">@Services.OpenShift.GetDisplayName()</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
</div>