<div class="col-sm-3 col-md-2" id="@PanelsHelper.GetCostSupportPanelName(Services.AKS)">
    <div class="panel panel-AKS">
        <div class="panel-heading">
            <h3 class="panel-title">@Services.AKS.GetDisplayName()</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>Cost only for resources used (no other licenses)</li>
                <li class="separator">&nbsp;</li>
                <li>On-prem installation is free</li>
                <li class="separator">&nbsp;</li>
                <li>Support from Microsoft (AKS), from Community (Kubernetes)</li>
            </ul>
        </div>
    </div>
</div>