<div class="col-sm-3 col-md-2" id="@PanelsHelper.GetHostingPanelName(Services.AKS)">
    <div class="panel panel-AKS">
        <div class="panel-heading">
            <h3 class="panel-title">@Services.AKS.GetDisplayName()</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>Containers (Docker)</li>
                <li class="separator">&nbsp;</li>
                <li>Minimum 3 worker nodes, control plan fully managed</li>
                <li class="separator">&nbsp;</li>
                <li>Linux, Windows (preview)</li>
                <li class="separator">&nbsp;</li>
                <li>Stateless (native) and Stateful (custom)</li>
                <li class="separator">&nbsp;</li>
                <li>Self-managed worker nodes</li>
            </ul>
        </div>
    </div>
</div>