<div class="col-sm-3 col-md-2" id="@PanelsHelper.GetDevOpsPanelName(Services.ServiceFabricMesh)">
    <div class="panel panel-ServiceFabricMesh">
        <div class="panel-heading">
            <h3 class="panel-title">@Services.ServiceFabricMesh.GetDisplayName()</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>Native Integration (Preview)</li>
                <li class="separator">&nbsp;</li>
                <li>Supported (Preview)</li>
                <li class="separator">&nbsp;</li>
                <li>Development cluster (1 or 5 nodes) 100% same features</li>
                <li class="separator">&nbsp;</li>
                <li>App Updates with Rolling updates (prod), Refresh (dev)</li>
                <li class="separator">&nbsp;</li>
                <li>Native CI/CD support</li>
                <li class="separator">&nbsp;</li>
                <li>Any language, any framework</li>
                <li class="separator">&nbsp;</li>
                <li>Applications are portable</li>
                <li class="separator">&nbsp;</li>
                <li>On-Prem automatic installation (100% compatible)</li>
                <li class="separator">&nbsp;</li>
                <li>No orchestrator to manage</li>
                <li class="separator">&nbsp;</li>
                <li>CLI, Web (limited)</li>
            </ul>
        </div>
    </div>
</div>