<div class="col-sm-3 col-md-2" id="@PanelsHelper.GetGeneralPanelName(Services.ServiceFabricMesh)">
    <div class="panel panel-ServiceFabricMesh">
        <div class="panel-heading">
            <h3 class="panel-title">@Services.ServiceFabricMesh.GetDisplayName()</h3>
        </div>
        <div class="panel-body">
            <b>Build and deploy mission critical apps in a Serverless way</b>
            <br /><br />
            <a href="https://docs.microsoft.com/en-us/azure/service-fabric-mesh/" target="_blank" class="btn btn-default"><i class="glyphicon glyphicon-file"></i> Documentation</a>
        </div>
    </div>
</div>