<div class="col-sm-3 col-md-2" id="@PanelsHelper.GetHostingPanelName(Services.ServiceFabricMesh)">
    <div class="panel panel-ServiceFabricMesh">
        <div class="panel-heading">
            <h3 class="panel-title">@Services.ServiceFabricMesh.GetDisplayName()</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>Containers (Docker)</li>
                <li class="separator">&nbsp;</li>
                <li>Service Fabric</li>
                <li class="separator">&nbsp;</li>
                <li>Serverless</li>
                <li class="separator">&nbsp;</li>
                <li>Linux, Windows</li>
                <li class="separator">&nbsp;</li>
                <li>Stateless and Stateful (native)</li>
                <li class="separator">&nbsp;</li>
                <li>Serverless</li>
            </ul>
        </div>
    </div>
</div>