<div class="col-sm-3 col-md-2" id="@PanelsHelper.GetScalabilityPanelName(Services.ServiceFabricMesh)">
    <div class="panel panel-ServiceFabricMesh">
        <div class="panel-heading">
            <h3 class="panel-title">@Services.ServiceFabricMesh.GetDisplayName()</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>Supported (Serverless)</li>
                <li class="separator">&nbsp;</li>
                <li>Unlimited (Serverless)</li>
                <li class="separator">&nbsp;</li>
                <li>Supported (Serverless)</li>
            </ul>
        </div>
    </div>
</div>