<div class="col-sm-3 col-md-2" id="@PanelsHelper.GetDevOpsPanelName(Services.AppService)">
    <div class="panel panel-AppService">
        <div class="panel-heading">
            <h3 class="panel-title">@Services.AppService.GetDisplayName()</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>Native Integration (Full support)</li>
                <li class="separator">&nbsp;</li>
                <li>Local debug fully supported</li>
                <li class="separator">&nbsp;</li>
                <li>Development environment to be manually setup (1+ nodes)</li>
                <li class="separator">&nbsp;</li>
                <li>In-place update</li>
                <li class="separator">&nbsp;</li>
                <li>Native CI/CD support</li>
                <li class="separator">&nbsp;</li>
                <li>Any language, any framework</li>
                <li class="separator">&nbsp;</li>
                <li>Applications are portable</li>
                <li class="separator">&nbsp;</li>
                <li>Docker to be installed on-prem manually</li>
                <li class="separator">&nbsp;</li>
                <li>No Orchestration</li>
                <li class="separator">&nbsp;</li>
                <li>CLI, PowerShell, Web, APIs</li>
            </ul>
        </div>
    </div>
</div>