<div class="col-sm-3 col-md-2" id="@PanelsHelper.GetHostingPanelName(Services.AppService)">
    <div class="panel panel-AppService">
        <div class="panel-heading">
            <h3 class="panel-title">@Services.AppService.GetDisplayName()</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>Containers (Docker), Web Apps</li>
                <li class="separator">&nbsp;</li>
                <li>N/A</li>
                <li class="separator">&nbsp;</li>
                <li>1</li>
                <li class="separator">&nbsp;</li>
                <li>Linux, Windows (preview)</li>
                <li class="separator">&nbsp;</li>
                <li>Stateless</li>
                <li class="separator">&nbsp;</li>
                <li>Full PaaS</li>
            </ul>
        </div>
    </div>
</div>