<div class="col-sm-3 col-md-2" id="@PanelsHelper.GetScalabilityPanelName(Services.AppService)">
    <div class="panel panel-AppService">
        <div class="panel-heading">
            <h3 class="panel-title">@Services.AppService.GetDisplayName()</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>Supported (AppService)</li>
                <li class="separator">&nbsp;</li>
                <li>3, 10, 20, 100 depending on service tier</li>
                <li class="separator">&nbsp;</li>
                <li>Not Supported</li>
            </ul>
        </div>
    </div>
</div>