<div class="col-sm-2" id="@PanelsHelper.GetSecurityPanelName(Services.AppService)">
    <div class="panel panel-AppService">
        <div class="panel-heading">
            <h3 class="panel-title">@Services.AppService.GetDisplayName()</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
</div>