<div class="col-sm-3 col-md-2" id="@PanelsHelper.GetAvailabilityPanelName(Services.Batch)">
     <div class="panel panel-Batch">
        <div class="panel-heading">
            <h3 class="panel-title">@Services.Batch.GetDisplayName()</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>SLA 99.9%</li>
                <li class="separator">&nbsp;</li>
                <li>N/A</li>
                <li class="separator">&nbsp;</li>
                <li>N/A</li>
            </ul>
        </div>
    </div>
</div>