<div class="col-sm-3 col-md-2" id="@PanelsHelper.GetDevOpsPanelName(Services.Batch)">
     <div class="panel panel-Batch">
        <div class="panel-heading">
            <h3 class="panel-title">@Services.Batch.GetDisplayName()</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>Native Integration (Full support)</li>
                <li class="separator">&nbsp;</li>
                <li>Supported</li>
                <li class="separator">&nbsp;</li>
                <li>Connected to Azure</li>
                <li class="separator">&nbsp;</li>
                <li>In-place update</li>
                <li class="separator">&nbsp;</li>
                <li>N/A</li>
                <li class="separator">&nbsp;</li>
                <li>Any language, any framework</li>
                <li class="separator">&nbsp;</li>
                <li>N/A</li>
                <li class="separator">&nbsp;</li>
                <li>Docker to be installed on-prem manually</li>
                <li class="separator">&nbsp;</li>
                <li>No Orchestration</li>
                <li class="separator">&nbsp;</li>
                <li>CLI, PowerShell, Web, APIs</li>
            </ul>
        </div>
    </div>
</div>