<div class="col-sm-3 col-md-2" id="@PanelsHelper.GetHostingPanelName(Services.Batch)">
     <div class="panel panel-ACI">
        <div class="panel-heading">
            <h3 class="panel-title">@Services.Batch.GetDisplayName()</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>Containers (Docker), XXX</li>
                <li class="separator">&nbsp;</li>
                <li>XXX</li>
                <li class="separator">&nbsp;</li>
                <li>XXX</li>
                <li class="separator">&nbsp;</li>
                <li>XXX</li>
                <li class="separator">&nbsp;</li>
                <li>XXX</li>
            </ul>
        </div>
    </div>
</div>